.container{
  
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

}

.button{
    width: 100px;
    height: 80px;
    padding: 10px 14px;
    border: none;
    border-radius: 8px;
    background-color: #efefef;
    color: black;
    font-size: 30px;
}